<h1><%= @genre.name %></h1>

<h3>Artists:</h3>
<ul>
  <% @genre.artists.uniq.each do |artist|  %>
    <li><%= link_to artist.name, artist %></li>
  <% end %>
</ul>


<h3>Songs by Artist</h3>
<ul>
  <% @genre.artists.uniq.each do |artist|  %>
  <li><%= link_to artist.name, artist %></li>
    <ul>
      <% artist.songs.where({genre: @genre}).each do |song| %>
        <li><%= link_to song.name, song %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<h3>Songs:</h3>
<ul>
  <% @genre.songs.each do |song|  %>
    <li><%= link_to song.name, song %></li>
  <% end %>
</ul>

<!-- TODO: Add Song -->

<%= link_to "Edit genre name", action: "edit"%><br><br>

<%= link_to "Back to all genres", action: "index"%>
