<h1> Assign Song to Artist/Genre </h1>
<%= form_for(@song) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :name ) %><br>
  <%= f.label :genre_id %>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name ) %><br>
  <%= f.submit %>
<% end %>
